<div>
{{#each blogpost}}
	<div>
		<div>
			<h2><a href='/dashboard/change/{{id}}'>{{title}}</a></h2>
			<div>
				{{text}}
			</div>
		</div>
	</div>
{{/each}}
	<div>
		<a href="/dashboard/make">Make your own post!</a>
	</div>
</div>