<div class=''>
{{#each blogpost}}
		<div class=''>
			<div class=''>
				<h2>
					<a href='/blogpost/{{id}}'>{{title}}</a>
				</h2>
				<div class=''>
					{{text}}
				</div>
			</div>
		</div>
	{{/each}}
	<div>
		<a href="/dashboard/make">Make your own post!</a>
	</div>