<div class=''>
	{{#if blogposts.length}}
		{{#each blogpost}}
		<div class=''>
			<div class=''>
				<h2>
					<a href='/blogpost/{{id}}'>{{title}}</a>
				</h2>
				<div class=''>
					{{text}}
				</div>
			</div>
		</div>
	{{/each}}

	{{else}}

	{{/if}}

<script src="/js/dashboard.js"></script>