<div>
    <h2>Create New BlogPost</h2>
    <form class="form blogpost-form">
      <div class="form-group">
        <label for="title-blogpost">Blogpost Title:</label>
        <input class="form-input" type="text" id="title-blogpost" />
      </div>
      <div class="form-group">
        <label for="text-blogpost">Text:</label>
        <input class="form-input" type="text" id="text-blogpost" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create!</button>
      </div>
    </form>
  </div>

<script src="/js/dashboard.js"></script>
